.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.form-group input {
    flex-grow: 1;
  }  
.align-self-end button {
    margin-top: 10px; 
  }
  